<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>«Улица» Премьера! - ТНТ</title>

	<meta property="og:title" content="«Улица» Премьера! - ТНТ" />
	<meta property="og:description" content="Следи на своем экране за тем, как наши герои решают обычные бытовые проблемы. " />
	<meta property="og:type" content="website" />
	<meta property="fb:app_id" content="257953674358265" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="description" content="Следи на своем экране за тем, как наши герои решают обычные бытовые проблемы. " />

	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div class="blind">
		Пожалуйста, переверните устройство
	</div>

	<div id="fullpage">
	<header class="header section">
		<div class="container-fluid">
			<div class="header__navigation flex-row flex-row--vcenter flex-row--justify">
				<div class="header__nav-btn">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<a class="header__logo" href="/">
					<img src="img/logo.png" alt="">
				</a>
				<a class="header__logo-tnt" href="//tnt-online.ru">
					<img src="img/logo-tnt-2.png" alt="">
				</a>
				<nav class="nav-header">
					<ul id="menu">
						<li><a href="#about">О сериале</a></li>
						<li><a href="#trailer">Трейлер</a></li>
						<li><a href="#heroes">Герои</a></li>
						<li><a href="#photos">Фото</a></li>
						<li><a href="#videos">Серии</a></li>
					</ul>
				</nav>
				<div class="header__socials">
					<a href="https://vk.com/street_tnt"><img src="img/vk-badge-ulitsa.png" alt=""></a>
					<a href="https://vk.com/tnt"><img src="img/vk-badge-tnt.png" alt=""></a>
				</div>
			</div>

			<div class="header__preview">
				<picture>
					<source media="(max-width: 576px) or (orientation: landscape)" srcset="img/header-image-mobile.jpg">
					<img src="img/header-image.jpg" alt="Премьера. Улица. Наше время, наши истории. 19:30 с понедельника по четверг. ТНТ. 16+.">
				</picture>
			</div>
		</div>
	</header>

<section data-anchor="trailer" class="trailer section">
    <div class="trailer__container">
        <a href="javascript:;" data-src="//rutube.ru/play/embed/10630222" data-type="iframe" data-fancybox class="trailer__play"></a>
    </div>
</section>

<section data-anchor="about" class="about section">
    <div class="container">
        <div class="about__cards">
            <div class="about__card about__card--my-family">
                <img src="img/about-card-my-family.png" alt="Моя семья">
            </div>
            <div class="about__card about__card--sokolov">
                <img src="img/about-card-sokolov.png" alt="Соколов">
            </div>
            <div class="about__card about__card--honey">
                <img src="img/about-card-honey.png" alt="Любимая">
            </div>
        </div>

        <div class="heading heading--rotate-left">
            <span>О сериале</span>
        </div>
        <div class="about__text-1">
            <strong class="text-primary">«Улица»</strong> – это не тот сериал, к формату
            которого ты привык. Здесь всё происходит 
            прямо здесь и сейчас. Здесь герои просто 
            живут, а ты следишь за их перипетиями. 
            «Улица» - это история про каждого из нас.
        </div>

        <div class="about__cards-mobile">
            <img src="img/about-cards-mobile.jpg" alt="">
        </div>
        
        <div class="about__text-2">
            Про тех, кто рано встаёт и торопится на работу, в школу или 
            институт. Про тех, кто может остаться дома, но всё равно 
            встаёт, чтобы проводить в школу детей. Про тех, кто влюблён 
            в девчонку из параллельного класса или соседнего подъезда. 
            Про тех, кто уже любит, и тех, кто только ищет своё счастье.
        </div>
        
        <div class="about__text-3">
            А прежде всего этот сериал про тебя!
        </div>
    </div>
</section>
<section data-anchor="heroes" class="myheroes section">
        <div class="heading heading--rotate-right">
                <span>Герои</span>
        </div>
                <div class="slide"><div class="heroes__item">
                    <div class="heroes__face-image" style="background-image: url(img/heroes/andrey.png);">
                        <!--<div><img src="img/heroes/andrey.png" alt=""></div>-->
                    </div>
                    <div class="heroes__body">
                        <div class="heroes__title">
                            <img src="img/heroes/andrey-title.png" alt="Андрей">
                        </div>
                        <p class="heroes__description">
                            Спустя много лет обанкротившийся предприниматель Андрей возвращается с Рублёвки на улицу, где он жил будучи еще школьником. Тут прошло всё его детство. Прошло столько лет, а на улице все осталось по-прежнему: та же обстановка, те же люди, не сразу признавшие
                            в Андрее «пухлика», которым он был раньше.
                        </p>
                    </div>
                </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/luba.png);">
                    <!--<div><img src="img/heroes/luba.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/luba-title.png" alt="Люба">
                    </div>
                    <p class="heroes__description">
                        До переезда на «Улицу» жила светской жизнью, никогда не работала, привыкла жить дорого, богато. После банкротства мужа ее беспечная жизнь закончилась. Переезд она приняла
                        сложно. Но, как преданная жена, Люба поддерживает Андрея и старается приспособиться к новым условиям жизни.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/kaban.png);">
                    <!--<div><img src="img/heroes/kaban.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/kaban-title.png" alt="Кабан">
                    </div>
                    <p class="heroes__description">
                        Грубый, недалекий хам. Живет с отцом-инвалидом, злоупотребляет алкоголем. Ездит на машине, часто тренируется в качалке. Встречается с Ксюхой, но постоянно
                        с ней ссорится. Не прочь замутить с кем-нибудь в ее отсутствие. Пытается придумать выгодный, прибыльный бизнес и реализовать его с Дэном.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/ksuha.png);">
                    <!--<div><img src="img/heroes/ksuha.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/ksuha-title.png" alt="Ксюха">
                    </div>
                    <p class="heroes__description">
                        Ксюха - симпатичная девчонка, встречается со взрослым парнем - Кабаном-младшим, которого не переносит ее строгий отец. Во дворе Ксюха знакомится с Лехой, своим новым одноклассником
                        и соседом. По началу пользуется его отзывчивостью, а потом вроде и сама проникается им.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/katya.png);">
                    <!--<div><img src="img/heroes/katya.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/katya-title.png" alt="Катя">
                    </div>
                    <p class="heroes__description">
                        Симпатичная девушка, отзывчивая, не окончила школу из-за отношений с учителем, с которым до сих пор (в тайне от его жены) спит. При этом не замечает Соколова, который всегда
                        готов прийти на помощь. У Кати сложные отношения с матерью, которая оставила ее много лет назад и уехала устраивать свою личную жизнь.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/sokolov.png);">
                    <!--<div><img src="img/heroes/sokolov.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/sokolov-title.png" alt="Соколов">
                    </div>
                    <p class="heroes__description">
                        Соколов - честный участковый, всегда с легкостью решает проблемы, возникающие на Улице. Справедливый, наказывает действительно виноватых, помогает тем, кто в этом нуждается.
                        Бабник, но при этом со школьной скамьи влюблен в Катю. Её постоянные отказы лишь подбадривают его к дальнейшим действиям.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/den.png);">
                    <!--<div><img src="img/heroes/den.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/den-title.png" alt="Дэн">
                    </div>
                    <p class="heroes__description">
                        Дэн – простой, добрый парень, живет чувствами, ищет способ встать на ноги, постоянно помогает Ирке, в которую безответно влюблён.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/irka.png);">
                    <!--<div><img src="img/heroes/irka.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/irka-title.png" alt="Ирка">
                    </div>
                    <p class="heroes__description">
                        Простая девчонка из двора с сомнительной репутацией. Мечтает свалить от матери, поэтому ищет вариант удачно выйти замуж. Обладая приятной внешностью, легко находит себе
                        ухажёров. Но несмотря на всё это, Ирка - очень отзывчивая девушка и хорошая подруга.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/alla.png);">
                    <!--<div><img src="img/heroes/alla.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/alla-title.png" alt="Алла">
                    </div>
                    <p class="heroes__description">
                        Алла - хозяйка салона красоты, хороший предприниматель. Несмотря на свою строгость, со всеми поддерживает хорошие отношения. В свои 50 она очень хорошо выглядит и постоянно следит за собой.
                        Надо же как-то удерживать молодого любовника.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/vasya.png);">
                    <!--<div><img src="img/heroes/vasya.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/vasya-title.png" alt="Вася">
                    </div>
                    <p class="heroes__description">
                            Неприятный тип, альфонс, встречается с Аллой из-за денег. Терпит ее, потому что ему не по душе тяжелая работа. Вася очень ленив и хамоват, все терпят его присутствие из-за Аллы, которая при этом полностью обеспечивает молодого любовника: дает ему машину, прописала в своей квартире.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/borya.png);">
                    <!--<div><img src="img/heroes/borya.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/borya-title.png" alt="Боря">
                    </div>
                    <p class="heroes__description">
                        Боря – стеснительный парень. Работает в магазине подарков в торговом центре. Знакомится в салоне с тайкой Шини, которая привлекает его своей миниатюрностью, женственностью
                        и, что самое главное, молчаливостью. Правда есть одна проблема: она не говорит по-русски.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/shiini.png);">
                    <!--<div><img src="img/heroes/shiini.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/shiini-title.png" alt="Шиини">
                    </div>
                    <p class="heroes__description">
                        Шини работает массажисткой в салоне «Алла», живет там же. Доброжелательна, спокойна, всегда улыбается, не говорит по-русски. Несмотря на позитивный взгляд на жизнь, многое
                        пережила: была в сексуальном рабстве, о чем, напившись, рассказывает девочкам из салона.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/marina.png);">
                    <!--<div><img src="img/heroes/marina.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/marina-title.png" alt="Марина">
                    </div>
                    <p class="heroes__description">
                        Жена Стаса, красивая молодая женщина с грустными глазами. Любит мужа, но несчастна в браке. Вышла замуж из-за незапланированной беременности и теперь мучается, так как
                        живет с мужчиной, который ее не любит.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/stas.png);">
                    <!--<div><img src="img/heroes/stas.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/stas-title.png" alt="Стас">
                    </div>
                    <p class="heroes__description">
                        Стас - учитель в школе. Харизматичен, обаятелен, располагает к себе. Встречался со своей ученицей, Катей, но женился на другой женщине - Марине (из-за ее беременности),
                        чем чуть не довел Катю до самоубийства. Стас любит только себя, окружающих женщин он мучает своей нерешительностью.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/tatyana.png);">
                    <!--<div><img src="img/heroes/tatyana.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/tatyana-title.png" alt="Татьяна">
                    </div>
                    <p class="heroes__description">
                        Простая женщина, позитивная, стойкая, работящая. По-доброму отнеслась к Любе и ее семье. Поддерживает Любу, дает ей полезные советы, помогает привыкнуть к новому месту.
                        По своей простоте не замечает ухаживаний Влада, чем ставит его в неловкое положение.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/vlad.png);">
                    <!--<div><img src="img/heroes/vlad.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/vlad-title.png" alt="Влад">
                    </div>
                    <p class="heroes__description">
                        Одинокий мужчина, отзывчивый, добрый, способный сопереживать. Работает на заводе, его привлекает стабильность, славится на улице своими золотыми руками. Симпатизирует Татьяне,
                        пытается начать за ней ухаживать, но та, в силу своей стеснительности и простоты, этого не замечает.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/laura.png);">
                    <!--<div><img src="img/heroes/laura.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/laura-title.png" alt="Лаура">
                    </div>
                    <p class="heroes__description">
                        Эффектная женщина, не замужем. У нее было много любовников, но она несчастна в отношениях с мужчинами. Бывшая звезда школы и одноклассница Андрея. Увидев его много лет спустя, возмужавшего и похорошевшего,
                        Лаура решила освежить в памяти школьную любовь.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/vahrusheva.png);">
                    <!--<div><img src="img/heroes/vahrusheva.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/vahrusheva-title.png" alt="Вахрушева">
                    </div>
                    <p class="heroes__description">
                        Вахрушева – подруга детства Любы. Не обладает большим умом. Живет со своим богатым мужем Аркашей лишь потому, что отец не разрешает ей разводиться. Занимается
                        дизайном интерьера для души. Не понимает, как можно жить на Улице, куда переехали Люба с Андреем, пока не находит там любовные приключения.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/marat.png);">
                    <!--<div><img src="img/heroes/marat.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/marat-title.png" alt="Марат">
                    </div>
                    <p class="heroes__description">
                        Марат – молодой современный чиновник. Привлекательный, при деньгах, пользуется популярностью у девушек. После обмана с беременностью Ирки возвращается к привычному для
                        себя образу жизни: днем - добродетель, ночью - клубный тусовщик.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/kostya.png);">
                    <!--<div><img src="img/heroes/kostya.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/kostya-title.png" alt="Костя">
                    </div>
                    <p class="heroes__description">
                        Костя – сын Влада. Этакий домашний плюшевый медведь. У него есть невеста Оля, которую он любит до беспамятства и готов ради неё сделать всё, что угодно. Костя готовится
                        к предстоящей свадьбе, но разрывается между двух огней: старается угодить невесте и при этом не огорчить отца.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/vitalya.png);">
                    <!--<div><img src="img/heroes/vitalya.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/vitalya-title.png" alt="Виталя">
                    </div>
                    <p class="heroes__description">
                        Виталя работает в торговом центре в магазине «Подарки». Постоянно пытается найти какую-то подработку, чтобы встать на ноги. Прежде всего думает о своих интересах. На
                        протяжении двух лет встречается с Юлей. Но знакомится на мальчишнике Костяна с Вахрушевой и заводит с ней интрижку.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/svetka.png);">
                    <!--<div><img src="img/heroes/svetka.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/svetka-title.png" alt="Светка">
                    </div>
                    <p class="heroes__description">
                        Подруга Ксюши, живет с родителями, которые следят за ее успеваемостью. По инициативе Ксюхи знакомится с Лехой. Несмотря на очевидную симпатию Лехи к Ксюхе, Светка берет
                        инициативу в свои руки и старается изо всех сил понравиться ему.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/anya.png);">
                    <!--<div><img src="img/heroes/anya.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/anya-title.png" alt="Аня">
                    </div>
                    <p class="heroes__description">
                        Аня - сильная женщина, раньше занималась пятиборьем, сейчас работает в магазине Гамлета: днем продавцом, ночью – сторожем, а также еще и грузчиком. Одна воспитывает троих
                        детей, поэтому берется за любую работу.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/zhenya.png);">
                    <!--<div><img src="img/heroes/zhenya.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/zhenya-title.png" alt="Женя">
                    </div>
                    <p class="heroes__description">
                        Крупная, эффектная девушка, привыкшая к мужскому вниманию. Искренне не понимает, почему Боря не отвечает взаимностью на ее кокетство. Женя - болтушка, без стеснения выбалтывает
                        чужие секреты, чем нередко ставит всех в неловкое положение.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/gamlet.png);">
                    <!--<div><img src="img/heroes/gamlet.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/gamlet-title.png" alt="Гамлет">
                    </div>
                    <p class="heroes__description">
                        Азербайджанец, владелец продуктового магазина на Улице. Честный налогоплательщик. Справедливый, отзывчивый, готов помочь, если того требует ситуация, но не забывает о
                        своей выгоде. Старается быть со всеми в хороших отношениях.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/valera.png);">
                    <!--<div><img src="img/heroes/valera.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/valera-title.png" alt="Валера">
                    </div>
                    <p class="heroes__description">
                        Добродушный травокур, которому есть дело до всего, что происходит на улице. Постоянно ищет компанию, чтобы накуриться, и достает фармацевта Сашу. Любопытный, чересчур
                        болтливый. Позитивно относится людям, старается со всеми завязать беседу, даже если это не к месту.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/vadik.png);">
                    <!--<div><img src="img/heroes/vadik.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/vadik-title.png" alt="Вадик">
                    </div>
                    <p class="heroes__description">
                        Вадик - младший сын Андрея и Любы, спокойный мальчик, все повторяет за старшим братом Лехой. В новой школе у Вадика не складываются отношения как со сверстниками, так
                        и с завучем. Поэтому Люба отдаёт сына заниматься боксом.
                    </p>
                </div>
            </div>
            </div><div class="slide"><div class="heroes__item">
                <div class="heroes__face-image" style="background-image: url(img/heroes/leha.png);">
                    <!--<div><img src="img/heroes/leha.png" alt=""></div>-->
                </div>
                <div class="heroes__body">
                    <div class="heroes__title">
                        <img src="img/heroes/leha-title.png" alt="Лёха">
                    </div>
                    <p class="heroes__description">
                        Сын Андрея от первого брака. Открытый парень с хорошим чувством юмора. Разбалованный Рублёвской жизнью, тяжело принимает банкротство отца. Но потом начинает привыкать к
                        новой босяцкой жизни. А всё благодаря однокласснице Ксюхе, с которой живёт на одной улице.
                    </p>
                </div>
            </div>
        </div>
</section>

<section class="heroes-mini section">
    <div class="container">
        <div class="gallery__wrapper scroll__wrapper">
            <ul class="gallery__wrapper__list">
            </ul>
        </div>
        <!-- <img class="heroes-mini__img" src="img/heroes-preview.png" alt=""> -->
    </div>
</section>

<section data-anchor="photos" class="photogallery section fp-auto-height">
    <div class="row">
        <div class="owl-carousel" data-items="1" data-nav>
            <div class="photogallery__item" style="background-image:url(img/gallery/01.jpg)"><img src="img/gallery/01.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/02.jpg)"><img src="img/gallery/02.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/03.jpg)"><img src="img/gallery/03.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/04.jpg)"><img src="img/gallery/04.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/05.jpg)"><img src="img/gallery/05.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/06.jpg)"><img src="img/gallery/06.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/07.jpg)"><img src="img/gallery/07.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/08.jpg)"><img src="img/gallery/08.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/09.jpg)"><img src="img/gallery/09.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/10.jpg)"><img src="img/gallery/10.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/11.jpg)"><img src="img/gallery/11.jpg" alt=""></div>
            <div class="photogallery__item" style="background-image:url(img/gallery/12.jpg)"><img src="img/gallery/12.jpg" alt=""></div>
        </div>
    </div>
</section>

<div data-anchor="videos" class="section">
<section class="videos">
    <div class="container">
        <div class="heading heading--rotate-left">
            <span>Серии</span>
        </div>

        <p class="videos__preview-text">
            Каждый день следи на своем экране за тем, как наши герои решают проблемы,
            и делись комментариями в официальной группе сериала
        </p>

        <div class="row" id="video-wrap"></div>
    </div>
</section>

<script type="text/template" id="videos-item-tpl">
    <div class="col-xs-12 col-md-4">
        <div class="videos__item">
            <a href="<%= url %>" target="_blank">
                <div class="videos__image" style="background-image: url(<%= icon_big %>);">
                    <img src="<%= icon_big %>" alt="">
                    <div class="videos__play-btn"></div>
                </div>
                <div class="videos__title"><%= title_format %></div>
            </a>
        </div>
    </div>
</script>
	<footer class="footer">
		<div class="container">
			<div class="footer__info">
				<div class="footer__time">
					<span>Понедельник-четверг</span>
					<span>19:30</span>
				</div>
				<a class="footer__logo" href="/">
					<img src="img/logo-footer.png" alt="">
				</a>
				<a class="footer__logo-tnt" href="//tnt-online.ru">
					<img src="img/logo-tnt.png" alt="">
				</a>
			</div>
			<div class="footer__copy">
				Телеканал ТНТ, 2017
			</div>
		</div>
	</footer>
	</div>
	</div>

	<script src="js/main.js"></script>

	<script type="text/javascript">
	    (function (i, s, o, g, r, a, m) {
	    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
	        (i[r].q = i[r].q || []).push(arguments)
	    }, i[r].l = 1 * new Date(); a = s.createElement(o),
	        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
	
	    ga('create', 'UA-2865583-8', 'auto');
	    ga('send', 'pageview', { 'page': '/ulica/' });
	    ga('set', 'dimension1', 'Улица');
	    ga('set', 'contentGroup2', 'Сериалы');
	
	    // Yandex.Metrika counter 
	
	    (function (d, w, c) {
	        (w[c] = w[c] || []).push(function () {
	            try {
	                w.yaCounter32937699 = new Ya.Metrika({
	                    id: 32937699,
	                    clickmap: true,
	                    trackLinks: true,
	                    accurateTrackBounce: true
	                });
	            } catch (e) { }
	        });
	
	        var n = d.getElementsByTagName("script")[0],
	            s = d.createElement("script"),
	            f = function () { n.parentNode.insertBefore(s, n); };
	        s.type = "text/javascript";
	        s.async = true;
	        s.src = "https://mc.yandex.ru/metrika/watch.js";
	
	        if (w.opera == "[object Opera]") {
	            d.addEventListener("DOMContentLoaded", f, false);
	        } else { f(); }
	    })(document, window, "yandex_metrika_callbacks");
	
	    // TNS Counter
	    var img = new Image();
	    img.src = 'http://www.tns-counter.ru/V13a***R>' + document.referrer.replace(/\*/g, '%2a') + '*tnt_ru/ru/CP1251/tmsec=tnt_online/';
	</script>
	<noscript>
	    <img src="http://www.tns-counter.ru/V13a****tnt_ru/ru/CP1251/tmsec=tnt_online/" width="1" height="1" alt="" />
	</noscript>
	<noscript>
	    <div>
	        <img src="https://mc.yandex.ru/watch/32937699" style="position:absolute; left:-9999px;" alt="" />
	    </div>
	</noscript>
</body>
</html>