/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body { font-family: 'PTSansRegular',arial,sans-serif; }

img { max-width:100%; }
.img-responsive { margin:0 auto; }
h1,h2,h3,h4,h5,h6 {
	color:#CC5C2A;
    font-family: 'PTSansRegular',arial,sans-serif;
}
h4,.h4 { font-family: "PTSansBold"; }
a { 
    -webkit-transition:all .15s ease-in-out;
         -o-transition:all .15s ease-in-out;
            transition:all .15s ease-in-out;
}
/*a:visited { color: #3E2D7C; }*/
a:hover { 
	text-decoration: none;
	/*text-shadow:1px 1px 0 #000;*/
}
a:focus,
a:active { text-decoration: none; }
.text-red { color:#c6211f; }
.text-orange { color:#ff6500; }
.text-green { color:#4B9232; }
.text-underline { border-bottom:.1em solid; }
.text-justify { text-align: justify; }
.sticky { z-index:9; }
.fa-rub { font-style:inherit; font-size:inherit; }

textarea { resize: vertical; }

.btn-orange:focus,
.btn-orange:active,
.btn-orange { 
	background:url('../img/h3-bg-2.jpg');
    background-position: center;
    color:#FFF;
    font-size:15px;
    padding: 5px 15px;
}
.btn-green:focus,
.btn-orange:hover,
.btn-green:hover { color:#FFF; }
.btn-green:active,
.btn-green { color:#FFF; background:url('../img/search-bg.jpg'); }

/* form */
form .h4 { margin-bottom: 35px; }
form .h6 { margin-bottom: 25px; font-family: "PTSansBold";; }
.form-section {
    margin-top: 44px;
    margin-bottom: 24px;
    padding: 0 25px;
}
.modal .form-group { margin-bottom: 12px; }
.form-group { margin-bottom: 22px; position: relative; }
.form-group .select {
    display:block;
    border:1px solid #000;
    height: 36px;
    font-size: 20px;
    padding: 6px 12px;
    line-height: 1.1;
    position: relative;
}
.select + .dropdown-menu { left:auto; right:0; }
.form-control::-webkit-input-placeholder { color:#DDD;font-weight:normal; }
.form-control:-moz-placeholder { color:#DDD;font-weight:normal; }
.form-control {
    border-radius: 0;
    border-color: #000;
    height: 36px;
    font-size: 20px;
}
.checkbox {
	font-weight: normal;
	font-size:20px;
	color:#848484;
	text-align: right;
}
.checkbox input[type="checkbox"] { display:none; }
.checkbox input[type="checkbox"] + span {
	position: relative;
	display:inline-block;
	vertical-align:middle;
	height:20px;
	width:20px;
	border:2px solid #CDCDCD;
	margin-left:5px;
	margin-top:-.2em;
}
.checkbox input[type="checkbox"]:checked + span:after {
	position: absolute;
	top: 3px;
    left: 30%;
	content:'';
	width:7px;
	height:7px;
	border:#4A9332 solid;
	border-width: 2px 2px 0 0;
	-o-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}
.modal-header { background: url('../img/h3-bg.jpg'); padding:15px; }
.modal-header .close {
    color: #FFF;
    opacity: 1;
    font-weight: 100;
    font-size: 35px;
    line-height: 20px;
    margin-top: 2px;
}
.modal-header .tabs li { float:left; }
.modal-header .tabs a {
	display:block;
	font-size:16px;
	color:#FFF;
    padding: 18px 20px 9px;
	margin:-15px 0;
	border-bottom:3px solid transparent;
	text-transform: uppercase;
}
.modal-header .tabs .active a { border-bottom-color: #EE7F33; }
.modal-body { background: #FFF; }
/* /form */

:focus {
	outline: none!important;
}

.no-li {
    margin:0;
    padding: 0;
    list-style:none;
}
.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

p.small {
    font-size: 12px;
    line-height: 18px;
    padding: 6px 0;
}

.icon {
	display:inline-block;
	vertical-align:middle;
}
.icon-home { background-image:url('../img/icons/home.png'); }
.icon-badge { background-image:url('../img/icons/badge.png'); }
.icon-bag { background-image:url('../img/icons/bag.png'); }
.icon-list { background-image:url('../img/icons/list.png'); }
.icon-rulon { background-image:url('../img/icons/rulon.png'); }
.icon-user { background-image:url('../img/icons/user.png'); }
.icon-cart { background-image:url('../img/icons/cart.png'); }
.icon-phone {
    background-image:url('../img/icons/phone.png');
    width:24px; height:24px;
    margin-right: 4px;
}
.icon-appstore:active,
.icon-appstore {
    background-image: url('../img/icons/stores.png');
    background-position: 0 center;
    height: 38px; width: 116px;
    float:left;
}
.icon-gplay:active,
.icon-gplay {
    background-image: url('../img/icons/stores.png');
    background-position: 120px center;
    height: 38px; width: 116px;
    float:right;
}
.icon-close {
    height: 26px;
    width: 26px;
    background: url('../img/icons/close.png');
}
.icon-next {
    height: 26px;
    width: 26px;
    background: url('../img/icons/next.png');
}
.icon-pencil { 
    height: 20px;
    width: 20px;
    background-image:url('../img/icons/pencil.png'); 
}

.left-side {
    background:#F3F3F3;
    box-shadow:inset -1px 0 0 1px #EBEBEB;
    position:fixed;
    top:0; bottom:0;
            transition:all .5s ease-in-out;
         -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    padding:0;
    width:270px;
}
.content_5 { height:100%; overflow-y:auto; width:270px; }

.content-block {
    margin:30px;
    padding: 10px 0 40px;
    border:1px solid #EBEBEB;
}
.content-block [class^="col"] { padding:0 25px; }

.left-side a:hover { text-shadow:none; }
.left-side .logo {
    display: block;
    margin: 37px 0 14px;
    height:42px;
    text-align: center;
    background:no-repeat url('../img/logo.png') center;
}
.left-side .phone {
    font-size:20px;
    font-family: "PTSansBold";;
    margin: 0 15px;
    margin-bottom: 44px;
    text-align:center;
}
.left-side .phone a {
	color:#ff6500;
}
.search {
    /*background:#4A9332 url('../img/search-bg.jpg') center;*/
    padding: 9px 0;
    margin:-19px 0;
}
.search input[type="text"] {
    background: #FFF;
    border-radius: 4px;
    border: none;    
    display: block;
    font-family: 'PTSansRegular';
    font-size: 13px;
    height: 40px;
    margin: 0 auto;
    padding: 0 5px 0 40px;
    width: 100%;
}
.search input::-webkit-input-placeholder { color:#4A9332; }
.search input:-moz-placeholder { color:#4A9332; }
.search button {
    background: none;
    border: none;
    float: left;
    font-size: 18px;
    margin-left: 8px;
    margin-top: -33px;
}
.left-side .search { padding: 9px 34px; margin:0; }
.left-side .search input[type="text"] {
    border:1px solid #ff6500;
}
.left-side .sections {
    padding: 34px 10px 31px 36px;
    -webkit-transition:all .15s ease-in-out;
         -o-transition:all .15s ease-in-out;
            transition:all .15s ease-in-out;
}
.left-side .sections ul {
    list-style:none;
    margin:0;
    padding:0;
}
.left-side .sections a {
    display: block;
    color: #009b33;
    font-size: 20px;
    line-height: 1;
    padding: 9px 0 10px 54px;
    position: relative;
}
.left-side .sections .icon {
    /*background-size:100% auto;*/
    background-position:center top;
    background-repeat:no-repeat;
    height:24px;
    width:28px;
    margin-right: 18px;
    margin-top:-13px;
    position: absolute;
    top:50%; left:5px;
}
.left-side .sections .active .icon { background-position:center bottom; }
.left-side .sections .active a { position:relative; color:#ff6500; }
.left-side .sections .active a:before {
    content: '>';
    font-size: 12px;
    left: -24px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
}
.left-side .sections .special a {
    padding-top: 0;
    color: #ff6500!important;
    font-size: 18px;
    font-style: italic;
}
.left-side .sections .cart .count {
    color: #ff6500;
    font-size: 10px;
    font-style: normal;
    font-family: "PTSansBold";;
    left: 0;
    letter-spacing: -.5px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 5px;
}
.left-side .sections.inverse {
	padding-top:2px;
	padding-bottom:2px;
}
.left-side .sections.inverse ul {
    background:#4A9332 url('../img/recipe-bg.png') center;
    border-radius: 4px;
    box-shadow:1px 1px 0 0 #29561D;
}
.left-side .sections.inverse a {
	color:#FFF;
    padding: 12px 0 10px 54px;
}
.left-side .sections.strong a {
	font-family: "PTSansBold";;
	color:#009b33;
}

.social { text-align:center; margin-top:15px; }
.social a {
	position: relative;
    background:url('../img/icons/soc.png');
    display:inline-block;
    height:32px;
    margin:0 2px;
    width:32px;
}
.social .vk:after  { background-position: 0 100%; }
.social .vk{ background-position: 0 0; }
.social .fb:after { background-position: 25% 100%; }
.social .fb { background-position: 25% 0; }
.social .tw:after { background-position: 50% 100%; }
.social .tw { background-position: 50% 0; }
.social .yt:after { background-position: 75% 100%; }
.social .yt { background-position: 75% 0; }
.social .ok:after { background-position: 100% 100%; }
.social .ok { background-position: 100% 0; }
.social a:after {
	content:'';
	position: absolute;
	opacity: 0;
	top:0; left:0;
	right:0; bottom:0;
    background:url('../img/icons/soc.png');
    -webkit-transition:all .15s ease-in-out;
         -o-transition:all .15s ease-in-out;
            transition:all .15s ease-in-out;
}
.social a:hover:after {
	opacity: 1;
	z-index: 1;
}

.social-2 { display:inline-block; margin-left:25px; text-align:center; vertical-align: middle; }
.social-2 a {
    background:url('../img/icons/soc-2.png');
    display:inline-block;
    height:24px;
    margin:0 2px;
    width:24px;
}
.share {
    font-size: 16px;
    margin-top:25px;
}
.social-2 .vk { background-position: 0 center; }
.social-2 .fb { background-position: 33.3% center; }
.social-2 .tw { background-position: 66.6% center; }
.social-2 .ok { background-position: 100% center; }

.top-slider {
	position:relative;
    height: 292px;
}
/*.top-slider .item {
    height: 292px;
    width:100%;
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position: center;
    text-align: center
}*/
.top-slider .images img {
    width:100%;
}
.top-slider .images {
	position:relative;
	text-align: center;
	height:100%;
}
.top-slider .pagin {
    bottom:10px;
    left:0; right:0;
    position:absolute;
    text-align:center;
}
.top-slider .pagin label {
    border-radius:50%;
    border:2px solid #FFF;
    cursor:pointer;
    display:inline-block;
    height:12px;
    margin: 0 6px;
    width:12px;
}
.top-slider .pagin .active { background:#4B9232; }

.content { 
	float:right;
	padding:0;
    -webkit-transition:all .5s ease-in-out;
         -o-transition:all .5s ease-in-out;
            transition:all .5s ease-in-out;
}

.breadcrumbs { background:url('../img/h3-bg.jpg'); padding: 20px 38px; }
.breadcrumbs ul {
	margin:0;
	padding:0;
	list-style:none;
}
.breadcrumbs li {
	display:inline-block;
	color:#FFF;
}
.breadcrumbs li:after { content:' > '; }
.breadcrumbs li:last-child:after { content:''; }
.breadcrumbs a { color:#FFF; border-bottom:1px solid; }
.breadcrumbs li:last-child a { border:none; }


.filter { margin: 0 22px; padding: 11px 0; }
.filter .col { display:inline-block; vertical-align:middle;  margin: 12px 0 13px; position: relative; }

/*.select-outer { overflow:hidden; }
.select-outer select { width:calc(100% + 20px); height:100%; background: transparent; border:none; color:inherit; }*/
/*.filter .select-outer {
    position: relative;
    background-color: #4A9332;
    border-radius: 4px;
    border: none;
    color: #FFF;
    height: 23px;
    margin-left: 11px;
    width: 150px;
}
.filter .select-outer option { color:#000; }*/

.filter .select {
    background-color: #4A9332;
    border-radius: 4px;
    border: none;
    color: #FFF;
    display:block;
    margin-left: 11px;
    padding: 2px 24px 2px 0;
    position: relative;
    text-align:center;
    width: 180px;
}
.filter .select:after,
.filter .asc:after,
.filter .desc:after,
.filter .select-outer:after {
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border: #FFF solid;
    border-width: 1px 1px 0 0;
    content: '';
    height: 4px;
    margin-top: -4px;
    right: 10px;
    top: 50%;
    transform: rotate(135deg);
    width: 4px;
}
.filter .asc:after,
.filter .desc:after {
    border-color: #009b33;
    border-width: 1px 1px 0 0;
    margin-top: -3px;
    right: -12px;
}
.filter .asc:after {
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top:-1px;
}
.filter a.sort { color:#009b33; border-bottom:1px solid; }
.filter .sort {
    display: inline-block;
    margin-left: 24px;
    position: relative;
    vertical-align: top;
}

.list-item .item:hover {
    /*background-color:#F8F8F8;*/
    box-shadow:inset 0 0 0 2px #396E26;
}
.list-item .item {
    display:inline-block;
    float:none;
    margin:0 -1.6px;
    vertical-align:top;
    -webkit-transition:all .15s ease-in-out;
         -o-transition:all .15s ease-in-out;
            transition:all .15s ease-in-out;
}

.products a { color:inherit; }
.products h4 {
    color:#000;
    font-family: 'PT Sans Italic',arial;
    font-size:20px;
    font-weight: normal;
    font-style:italic;
    text-align: center;
    line-height: 1.4;
}
.products .price {
    font-size: 38px;
    font-family: "PTSansBold";;
    line-height: 1.2;
    white-space:nowrap;
}
.products .price small {
    font-size:50%;
}
.products .price sup {     
    font-size: 55%;
    position: relative;
    top: -13px;
}
.products .btn-orange {
    color: #FFF;
    margin-top: 9px;
    padding: 2px 28px 1px;
}

.products a:hover,
.special a:hover { text-shadow: none; }
.special .item {
    background-repeat: no-repeat;
    box-shadow:inset -1px 0 0 1px #EBEBEB;
    padding: 30px 25px 28px;
    text-align:left;    
    background-position: right center;
}
.special .item > div {
	padding:0;
}
.special .badge {
    background:url('../img/search-bg.jpg');
    border-radius: 4px;
    color:#FFF;
    padding: 6px 5px 5px;
    text-align:center;
    font-size: 14px;
    font-weight: normal;
    width: 118px;
}
.special p {
    color:#000;
    line-height: 24px;
    margin: 13px 0;
}
.special button .fa {
    color: #FFF;
    background-color: #4B9232;
    border-radius: 50%;
    font-size: 9px;
    margin-right: 6px;
    padding: 5px 7px;
}
.special button {
    background: none;
    border: none;
    font-family: "PTSansBold";;
    margin-top: 8px;
    padding: 0;
}
.special .fa-rub {
	font-size:85%;
}
.special .prices {
    background: rgba(255,255,255,.75);
    border-radius: 4px;
    float: right;
    margin-right: -23px;
    margin-top: 58px;
    padding: 15px 20px 5px 5px;
}
.special .old-price {
    font-size: 20px;
    font-family: "PTSansBold";;
    white-space:nowrap;
}
.special .price {
    font-size: 38px;
    font-family: "PTSansBold";;
    line-height: 1.2;
    white-space:nowrap;
}
.special .price sup {     
	font-size: 55%;
    position: relative;
    top: -13px;
}

.recipes {
    background-position: center;
    background-size: auto 100%;
    background:url('../img/recipe-bg.jpg');
    padding: 110px 0;
    position: relative;
}
/*.recipes:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    left: 0;
    right: 0;
    top: 20px;
    bottom: 20px;
    z-index: 0;
}*/
.recipes .title {
    padding-bottom:32px;
    position: relative;
}
.recipes .btn {
    color: #FFF;
    display: table;
    font-size: 30px;
    font-family: "PTSansBold";;
    margin: 0 auto;
    padding: 16px 100px 10px;
    position: relative;
}

.new-products { margin: 0 25px; }
.new-products .item {
	padding: 18px 15px 31px;
    text-align: center;
}
.new-products .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 85%;
    height: 210px;
}
.new-products .prices {    
    background: rgba(255,255,255,.75);
    border-radius: 4px;
    float: right;
    margin-top: -104px;
    padding: 2px 26px 6px 6px;
    text-align: right;
}
.new-products .old-price {
    font-size: 20px;
    font-family: "PTSansBold";;
    white-space:nowrap;
}

.product-list {
	border-left:1px solid #EBEBEB;
	border-bottom:1px solid #EBEBEB;
}
.product-list .item {
    border: 1px solid #EBEBEB;
    border-bottom:none;
    border-left:none;
    padding: 14px 25px;
}
.product-list .price {
    font-size: 30px;
    margin-bottom: 7px;
}
.product-list .count-num input { width: 90px; }
.product-list .descr {
	display:table;
    width: 320px;
    margin: 0 auto;
}
.product-list .image,
.product-list .intro {
    display:table-cell;
    text-align: center;
    vertical-align:middle;
    width:50%;
}
.product-list .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 85%;
    height: 170px;
}
.product-list h4 { font-size: 18px; }

.product-view h1 {
    color: #000;
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    padding: 19px 36px 14px;
}
.product-head { border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; height:420px; margin-right:-2; }
.product-head .zoom {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 20px;
}
.product-head .zoom:active,
.product-head .zoom:focus {
	outline:none;
}
.product-head > div {
    border:1px solid #EBEBEB;
    border-bottom:none;
    margin-left:-1px;
    height:100%;
    padding: 10px 80px 50px;
}
.product-head .images { padding:20px 5px; }
.sale { position: relative; }
.sale:before {
    background: url('../img/h3-bg-2.jpg');
    border-radius: 50%;
    color: #FFF;
    content: 'Скидка';
    font-size: 16px;
    font-family: "PTSansBold";;
    height:87px;    
    line-height: 86px;
    margin-right:-105px;
    position: absolute;
    top:-15px; right:50%;
    width:87px;
}
.product-head .images .thumbs { margin-top:20px; }
.product-head .images .thumbs li {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    cursor:pointer;
    display: inline-block;
    height:50px;
    margin: 0 10px;
    width:50px;
}

.product-head h5 {
	color:#000;
	font-size: 16px;
}
.product-head .description {
    font-family: "PTSansBold";;
    font-size: 10px;
}
.product-head .params td {
    padding: 5px 0;
}
.product-head .price {
    font-family: "PTSansBold";;
    font-size: 37px;
}
.product-head .price sup { font-size: 60%; }
.product-head .count-inc { text-align:left; }
.product-head .btn-orange {
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    padding: 2px 25px;
}
.product-head .sert {
    background: url('../img/icons/page.png') no-repeat left center;    
    display: block;
    text-transform: uppercase;
    color:#009b33;
    font-size: 14px;
    font-weight: normal;
    margin-top: 25px;
    padding: 5px 0 5px 40px;
}

.reviews { padding:22px 0; }
.reviews .item {
	padding:21px 60px;
}
.reviews .image {
	float:left;
    border-radius: 50%;
    background: url('../img/sale-badge-bg.png') center/100%;
    width: 110px;
    height: 110px;
}
.reviews .right .image { float:right; }
.reviews .text { margin-left:140px; }
.reviews .right .text { margin-right:140px; margin-left:0; }
.reviews .image img {
    border-radius: 50%;
    height: 96px;
    width: 96px;
    display: block;
    margin-left: 7px;
    margin-top: 7px;
}
.reviews h5 {
    color:#000;
    font-size: 16px;
    font-family: "PTSansBold";;
    margin-bottom: 15px;
    margin-top: 1px;
}
.reviews .right h5 { text-align: right; }
.reviews blockquote {
    position: relative;
    color:#000;
    border: none;
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
    margin: 0;
    padding: 6px 27px;
    width: 50%;
}
.reviews .right blockquote { float:right; }
.reviews blockquote:after,
.reviews blockquote:before {
    background-image: url('../img/icons/quote-green.png');
    content: '';
    height:14px;
    position: absolute;
    width:17px;
}
.reviews blockquote:after { top:0; left:0; }
.reviews blockquote:before { bottom:0; right:0; }
.reviews .btn-orange {
    margin-top: 10px;
    color: #FFF;
    font-size: 14px;
    padding: 9px;
    min-width: 188px;
}
.reviews textarea { border: 1px solid #ccc; }

.count-inc {
    position:relative;
    text-align:center;
    white-space: nowrap;
}
.count-inc i {
    background-image:url('../img/icons/plus-minus.png');
    cursor:pointer;
    display:inline-block;
    height:26px;
    position: relative;
    vertical-align: middle;
    width:26px;
}
.count-inc .plus {
    background-position: center 0;
    margin-left: -28px;
}
.count-inc .minus {
    background-position: center 100%;
    margin-right: -28px;
}
.count-inc input[type=text] {
    border: none;
    background: none;
    color: #4B9232;
    display: inline-block;
    font-size: 32px;
    font-family: "PTSansBold";;
    height: 44px;
    line-height: 1;
    margin: 0 auto;
    padding: 0 24px;
    text-align:center;
    vertical-align: middle;
    width: 100px;
}

.strong-h3 {
    background: url('../img/h3-bg.jpg');
    color:#FFF;
    font-size:20px;
    margin: 0;
    text-align:center;
    text-transform: uppercase;
    padding: 24px 0;
}
.strong-h3.orange { 
    background: url('../img/h3-bg-2.jpg');    
    background-size: auto 120%;
    background-position: center; 
}

footer {
    border-top:3px #ff6500 solid;
    color:#717171;
}
footer a {
	color:#717171;
}
footer h4 {
    color: #717171;
    font-family: "PTSansBold";;
    padding-top: 33px;
}
footer h5 {
    font-size:15px;
    font-family: "PTSansBold";;
    margin-bottom: 17px;
    margin-top: 55px;
    text-align: center;
    text-transform: uppercase;
}
footer li > a {
    color: #717171;
    display: block;
    padding: 4px 0 6px;
}
footer .btn-green {    
    color: #FFF;
    font-size: 15px;
    padding: 7px 30px 6px;
    width: 215px;
}
footer .btn-green:hover { color:#FFF; }    
footer .icon-phone {
    background-image: url('../img/icons/phone-2.png');
    height: 24px;
    margin-right: 22px;
    width: 24px;
}
footer .icon-user {
    background:no-repeat url('../img/icons/user-2.png') center;
    height: 24px;
    margin-right: 22px;
    width: 20px;
}
.sub-footer {
    margin-top: 40px;
}

.news .item {
    padding: 4px 0 14px;
}
.news .date {
    float: left;
    margin-right: 16px;
    margin-top: 4px;
    text-align: center;
    width: 36px;
}
.news .date big {
    display: block;
    font-size: 30px;
    font-family: "PTSansBold";;
    line-height: 1;
}
.news .date small {
    display: block;
    font-size: 10px;
    line-height: 1;
    margin-top: -3px;
}
.news .title {
    font-size: 15px;
    height:42px;
    overflow:hidden;
    text-decoration: underline;
}
.news .all {
    display: block;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: underline;

}


/* рецепты */
.recipe .sections {
    width:225px;
}
.recipe .sections ul {
    list-style:none;
    margin:0;
    padding:0;
}
.recipe .sections ul ul {
    line-height: 1.5;
    margin-bottom: 41px;
    margin-top: 19px;
}
.recipe .sections > ul > li {
    position: relative;
    padding-left:96px;
}
.recipe .sections > ul > li:after {
    background: #468B2F;
    content: '';
    height: 5px;
    left: 20px;
    position: absolute;
    top: 16px;
    width: 60px;
}
.recipe .sections > ul > li > a {
    color: #468B2F;
    font-size: 30px;
    font-family: "PTSansBold";;
}
.recipe .sections .active a { color:#468B2F; }
.recipe .sections ul ul a {
    color:#000;
    font-size: 20px;
}
.recipes-list {
    float:none;
    margin-left:225px;
    position: relative;
    width:auto;
}
.recipes-list .item {
    padding:5px;
}
.recipes-list .item > div {
    border:#D7D7D7 solid 1px;
}
.recipes-list .image img { width:100%; }
.recipes-list .h4 {
    font-size:16px;
    font-family: "PTSansBold";;
    margin: 15px 0;
    text-align: center;
}
.recipes-list .time,
.recipes-list .diff {
    padding: 0 15px 8px;
}
.recipe .stars {
    display:inline-block;
    vertical-align: top;
}
.recipe .stars i {
    background:url('../img/icons/stars.png');
    cursor:pointer;
    float:left;
    height:16px;
    margin:0 2px;
    width:19px;
}
.recipe .stars input { display:none; }
.recipe .stars .active { background-position: 0 100% }
.recipes-list .new:after {
    background: url('../img/sale-badge-bg.png');
    color: #FFF;
    content: 'Новинка';
    font-size: 16px;
    font-family: "PTSansBold";;
    height:87px;    
    left:15px;
    line-height: 86px;
    position: absolute;
    text-align:center;
    top:15px;
    width:87px;
}
.recipe .likes {
    background: url('../img/search-bg.jpg');
    border-radius: 4px;
    color: #FFF;
    float: right;
    font-size: 18px;
    font-family: "PTSansBold";;
    margin-right: 15px;
    margin-top: -47px;
    padding: 4px 0 2px;
    position: relative;
    text-align: center;
    width: 120px;
}
.recipe .ingr,
.recipe .descr {
    padding: 42px 38px;
}
.recipe .h5 {
    font-family: "PTSansBold";;
    font-size: 18px;
    padding-bottom: 30px;
}
.recipe p {
    line-height: 1.75;
    margin-bottom:22px;
}
.recipe .itog {    
    margin: 18px 28px;
}
.recipe .itog .h3 {
    font-family: "PTSansBold";;
    font-size: 26px;
    float:left;
}
.ingr-list li { 
    position: relative;
    margin: 4px 0;
}
.ingr-list li:after {
    border:1px dashed;
    bottom:7px;
    content: '';
    left:0;
    position: absolute;
    width:100%;
    z-index: -1;
}
.ingr-list span {
    background: #FFF;
    padding:0 4px;
}
.ingr-list span:last-child {
    width:20%;
    float:right;
    white-space:nowrap;
}
/* /рецепты */

.top-head {
    position: relative;
}
.top-head h1 {
    font-size: 40px;
    font-family: "PTSansBold";;
    left:0; right:0;
    margin-top: -48px;
    position: absolute;
    text-align:center;
    top: 50%;
}
.top-head h1 > div { 
    margin:0 auto;
    background-color: rgba(255,255,255,.75);
    padding: 32px 0;
    width:500px;
}
.top-head h1 small {
    display:block;
    font-size: 14px;
    color: inherit;
}

.section-list .item {
    background-position: center 33%;
    background-repeat: no-repeat;
    border: solid #F3F3F3;
    border-width: 0 1px 1px 0;
    height: 198px;
    position: relative;
}
.section-list h4 {
    bottom: 18px;
    color:#000;
    font-style: italic;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.top-head .btn {
    background: rgba(255,255,255,.75);
    bottom: 25px;
    color:#4A9332;
    padding-right: 44px;
    position: absolute;
    right: 25px;
}
.top-head .blamba {
    position: absolute;
    top:50%;
    margin-top:-85px;
    left:80px;
}

.season-suggest {
    position: relative;
}
.season-suggest .btn-sugg {
    background: rgba(255,255,255,.75);
    color:#4A9332;
    left: 25px;
    padding-right: 44px;
    position: absolute;
    top: 25px;
}
.top-head .btn:after,
.season-suggest .btn-sugg:after {
    content:'>';
    position: absolute;
    background:#4A9332;
    border:2px solid #FFF;
    border-radius: 50%;
    width: 23px;
    color: #FFF;
    font-size: 12px;
    padding: 2px 0;
    right: 12px;
    top:50%;
    margin-top:-12px;
}

/* basket */
.basket .result .price {
    font-family: "PTSansBold";;
    font-size: 30px;
}
.basket .result .price big { font-size:40px; }
.basket .result .btn-orange { padding:1px 35px; }
.basket h1 {
    font-size: 20px;
    font-family: "PTSansBold";;
    margin: 32px 40px 0;
}
.basket-table {
    margin:25px 0;
    width:100%;
}
.basket-table td {
    border:1px solid #EBEBEB;
    padding:20px 12px;
    vertical-align: middle;
    text-align: center;
    height:140px;
}
.basket-table td.title {
    height:auto;
    padding:12px 6px 3px;
}
.basket-table th {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    padding: 5px 0 9px;
    font-size: 14px;
    color: #949494;
}
.basket-table .image { width:100px; }
.basket-table .price { font-size: 30px; padding-top: 26px; }
/* /basket */

/* delivery */
.delivery {
    margin-top:60px;
    margin-left:-15px;
    padding: 15px;
    border:1px solid #EBEBEB;
}
.delivery p { font-size:20px; padding-top:10px; }
.delivery .form-group { margin-bottom:10px; }
.delivery .select,
.delivery .form-control { border-color:#4A9332; }
.delivery .select span { color:#DDD; }
.delivery .select:before {
    content:'';
    position: absolute;
    right:36px;
    top:0; bottom:0;
    width:1px;
    background: #4A9332;
}
.delivery .select:after {
    content: '';
    position: absolute;
    right: 14px;
    top: 14px;
    border: 4px solid transparent;
    border-top-color: #F08C33;
}
/* /delivery */

/* profile */
.profile h2 {
    padding-left: 38px;
    margin-top: 42px;
    margin-bottom: 25px;
    font-size: 18px;
}
.profile .order-list {
    color:#4B9232;
    font-size:20px;
    padding-left: 12px;
}
.profile .order-list ul { 
    display:none;
    padding-left: 50px; 
}
.profile label { 
    margin:0;
}
.profile .order-list li { padding: 9px 0; }
.profile .order-list input:checked ~ label .icon {
    -o-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.profile .order-list input:checked ~ ul { display:block; }
.profile .order-list li li {
    /*margin-left: 35px;*/
    font-style: italic;
    padding:0;
}
.profile .order-list ul {
    float: left;
    padding-top: 25px;
    width: 100%;
}
.profile .cart {
    border:1px solid #4A9332;
    margin: 33px 0;
    padding: 15px;
}
.profile .cart .image {
    position: relative;
    border-radius: 50%;
    background: url('../img/sale-badge-bg.png') center/100% 100%;
    width: 186px;
    height: 186px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
}
.profile .cart .image img {
    background-color: #FFF;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    border: 6px solid #FFF;
    display: block;
}
.profile .cart .change {
    position: absolute;
    top:0;
    right:0;
    color:#FFF;
    border-radius: 50%;
    cursor: pointer;
}
.profile .cart .form-control { border-color:#4A9332; }
.profile .cart p { font-size:20px; }
.profile .cart label {
    color: #ccc;
    font-size: 20px;
    font-weight: normal;
    left: 0;
    padding-left: 12px;
    padding-top: 4px;
    position: absolute;
    top: 0;
}
.profile .cart .btn-orange { padding: 1px 30px; }
/* /profile */

/* news */
.news-list { padding:20px 15px; }
.news-list .item {
    margin: 10px 15px;
    padding: 30px;
    border: 1px solid #EDEDED;
    font-size: 18px;
    color:#000;
}
.news-list .image { padding-right:30px; padding-left:0; }
.news-list .date {
    font-style: italic;
    float: right;
}
.news-list .title { 
    font-family: "PTSansBold";; 
    margin-bottom: 22px;
}
.news-list .descr {
    margin-bottom: 35px
}
.news-list .comments {
    float:right;
    margin-top:5px;
}
.news-list .comments a {
    border-bottom: 1px solid;
    font-style: italic;
}
.news-list .comments a:focus,
.news-list .comments a:active {
    color:#4B9232;
}
.news-list .btn-green {
    font-size:16px;
    padding:2px 12px 4px;
}
.pagination {
    display: table;
    margin:0 auto;
}
.pagination > li > a,
.pagination > li > span {
    border:none;
    background: none;
    padding:6px;
    font-size:18px;
    color:#999;
}
.pagination > li > a {
    color:#4B9232;
}
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > .active > span:hover,
.pagination > .active > span {
    background: none;
    font-family: "PTSansBold";;
    color:#4B9232;
}
.pagination .next a,
.pagination .prev a {
    font-size: 12px;
    padding: 10px 6px;
}
/* /news */

.page-system img {
    margin: 63px auto 50px;
}
.page-system .descr {
    font-size: 30px;
    font-family: "PTSansBold";;
    margin-bottom: 63px;
    line-height: 1.2;
}
footer .copy {
    font-size: 15px;
    margin-top: 45px;
    text-transform: none;
}

#ch-lside { display: none; }
[for="ch-leftside"] {
    background-color: #FFF;
    border: 1px solid #ff6500;
    cursor:pointer;
    left: 100%;
    padding: 10px 15px 12px;
    position: absolute;
    top: 0;
    width: 65px;
    z-index: 1;
}
[for="ch-leftside"] .bar {
    background: #ff6500;
    border-radius: 9px;
    display: block;
    height: 6px;
    margin-top: 3px;
    -webkit-transition:all .5s ease-in-out;
         -o-transition:all .5s ease-in-out;
            transition:all .5s ease-in-out;
}

.clone {
    background-position: center;
    background-size: 100% auto;
    height:150px;
    width: 150px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 999;
}

/* <xs> */
@media (max-width: 768px) {
    .recipes .btn { padding: 14px 15px 10px; }
    .basket-table .remove { margin-top: 11px; }
}
/* </xs> */
/* <sm> */
@media (max-width: 992px) {
    .left-side .sections { padding-left:25px; }
    .left-side { left:-270px; }
    .left-side > div { position: relative; z-index: 1; }
    #ch-leftside:checked ~ .left-side { left:0; }
    #ch-leftside:checked ~ .left-side:after {
        background:rgba(255,255,255,.6);
        content: '';
        left:0; right:0;
        position: fixed;
        top:0; bottom:0;
        z-index: 0;
    }
    #ch-leftside:checked ~ .left-side > label { padding: 20px 15px; }
    #ch-leftside:checked ~ .left-side > label .bar:nth-child(1) { transform: rotate(45deg); }
    #ch-leftside:checked ~ .left-side > label .bar:nth-child(2) { display:none; }
    #ch-leftside:checked ~ .left-side > label .bar:nth-child(3) { transform: rotate(-45deg); margin-top: -6px; }
    .product-head { height:auto; }
    .product-head .description { font-size:13px; }
    .product-head > div { padding: 10px 80px; }
    .reviews blockquote { width:100%; }
    .breadcrumbs .search { margin: 0; }
    .recipe .sections { width:auto; }
    .recipes-list { margin:0; }
    .top-head h1 { top:0; margin-top:0; }
    .top-head h1 > div { width:100%; }
    .top-head .blamba { width: 85px; margin-top: -42px; left:45px; }
    .basket-table td { height:auto; }
}
@media (min-width: 992px) {
    /* внутренняя страница */
    .inner-page .left-side { overflow:hidden; }
    .inner-page .left-side .phone { text-align:left; }
    .inner-page .left-side .phone a { margin-left: 12px; }

    .inner-page .left-side {
        width:60px;
    }
    .inner-page .left-side:hover {
        width:270px;
    }
    .inner-page .logo {
        background: url('../img/icons/logo-n.png') no-repeat;
        margin: 37px 6px 14px;
        padding:0;
    }
    .inner-page .left-side:hover .logo { background: url('../img/logo.png') no-repeat center; }
    .inner-page .left-side .search {
        padding: 9px 6px;
        background: url('../img/search-bg.jpg');
        color:#FFF;
    }
    .inner-page .left-side .search input {
        border:none;
        background: none;
        opacity: 0;
    }
    .inner-page .left-side:hover .search { padding-left:15px; padding-right:15px; }
    .inner-page .left-side:hover .search input {  background: #FFF; opacity: 1; }
    .inner-page .left-side:hover .search .fa { color:#4B9232; }
    .inner-page .left-side .search .fa { color:#FFF; }
    .inner-page .left-side .sections { padding:31px 9px 28px 9px; }
    .inner-page .left-side .sections.inverse { background:url('../img/search-bg.jpg'); padding: 5px 9px 2px 9px; }
    .inner-page .left-side .sections.inverse ul { background: none;box-shadow: none; }
    .inner-page .left-side .icon { text-indent:0; }
    .inner-page .left-side .social { margin-top: -25px; text-align: left; }
    .inner-page .left-side .social a:first-child { margin: 0 14px; }
    .inner-page .left-side:hover .social a { margin: 0 2px; }
    .inner-page .left-side:hover .social { text-align: center; }
    /* /внутренняя страница */
}
/* </sm> */
/* <md> */
@media (min-width: 992px) {
    .content {  padding-left: 270px; width:100%; /*width:calc(100% - 270px);*/ }
    .inner-page .content { padding-left:60px; }
    .product-head { height:auto; }
}
/* </md> */
@media (min-width: 992px) {
	.container { width:100%; }
}