@font-face {
	font-family: "GothamProNarrow";
	src: url("./Gotham Pro Narrow Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "GothamProNarrow";
	src: url("./Gotham Pro Narrow Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}